@page "/admin"
@attribute [Authorize(Policy = Policies.IsAdmin)]
@inject HttpClient Http
@inject IFileService FileService

<h1>Admin</h1>

<p>@message</p>

<button @onclick="OnExportDatabaseAsync">Export Database</button>
<p>Export the current state of the database to file</p>

<h1>Users</h1>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Username</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private UserRecord[] users;
    private string message;

    [Parameter]
    public string Message { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await PopulateRecords();
    }

    private async Task PopulateRecords()
    {
        users = null;
        users = await Http.GetJsonAsync<UserRecord[]>("api/admin");
    }

    private async Task OnExportDatabaseAsync()
    {
        var timestamp = DateTime.Now.ToString("yyyyMMddHHmmss");
        var fileName = $"BlazorDatabase_{timestamp}.db";
        var databaseBytes = await Http.PostJsonAsync<byte[]>("api/database/export", null);

        await FileService.SaveFileAsync(fileName, databaseBytes);
        message = "Database has been exported at " + DateTime.Now.ToShortDateString();
    }
}